@import "~normalize.css";

@import "_variables";

//KLASY DO MENU W JS
.hamburger--close {
  display: none;
}

.hamburger--open {
  display: inline;
}

// PSEUDOKLASY I PSEUDOELEMENTY
.heading--dot::before {
  content: " ";
  display: inline-block;
  background-color: green;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}


.heading--dot::after {
  content: " ";
  display: inline-block;
  background-color: green;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

$fajnyzielony: yellowgreen;

.bgc--change:hover {
  background-color: $fajnyzielony;
}

.highlight--focus:focus {
  background-color: yellow;
}
//są tez przesudoklasy first-child i last-child, ale to jakoś mi średnio siedzi. Jest jeszcze not. To jest przydatne. 

//SASS
//zmienne zastosujemy w paragrafie z hover dla przykładu, tam nad jest zdefiniowana zmienna dot. koloru tła

//mixin i include
@mixin kontenerek {
  background-color: yellowgreen;
  border-radius: 10px;
}

@mixin paragrafParametr ($weight, $color) {
  font-weight: $weight;
  color: $color;
}

.specjalnyKontener {
  @include kontenerek;
}

.parametrSass {
  @include paragrafParametr(bold, blue);
}

// Jest jeszcze extend, ale mi to nie siedzi 

//parent selektor
.about {
  background-color: lightgreen;
  border-radius: 15px;
  padding: 15px;
  &__paragraph {
    color:darkslategray;
  }
  &__title{
    color: darkgreen;
    margin-top: 0px;
    &--italian {
      font-style: italic;
    }
  }
}

